@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* HEADER SECTION */

.header {
    background-color: #636C79;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    align-items: center;
}

.list-item {
    text-decoration: none;
    color: #e1e2e2;
    font-size: 15px;
    font-weight: 400;
}

.btn1 {
    background: transparent;
    outline: none;
    color: #e1e2e2;
    border: 1px solid #959697;
    font-size: 15px;
    padding: 10px 42px;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 400;
    cursor: pointer;
}

.ham-burger {
    width: 25px;
    display: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 70px 100px;
}

.hero>img {
    width: 25rem;
}

.hero-content {
    width: 30rem;
}

.hero-content h1 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 65px;
}

.hero-content p {
    font-size: 18px;
    color: #D4D6D9;
    line-height: 30px;
    margin-bottom: 30px;
}

.email-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 6px;
}

.email-container img {
    width: 30px;
}

.input-field {
    display: flex;
    align-items: center;
    width: 100%;
}

#email {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #636C79;
    width: 100%;
}

#email::placeholder {
    color: #636C79;
}

.btn {
    background-color: #8BB7A2;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    height: 45px;
    width: 230px;
    font-weight: 600;
    cursor: pointer;
}


/* STATISTICS SECTION */

.statistics {
    margin-top: 100px;
}

.statistics h1 {
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

.statistics-data {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.statistics-data h1 {
    margin-bottom: 5px;
    color: #000000;
}

.statistics p {
    font-size: 17px;
    color: #636C79;
    font-weight: 600;
    margin-bottom: 60px;
}

.statistics img {
    width: 85%;
    display: block;
    margin: auto;
}


/* Features Section */

.features {
    margin: 150px auto 0px auto;
    width: 85%;
}

.features-heading {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.feature-contents {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-content {
    width: 29rem;
}

.feature-heading {
    font-size: 35px;
    color: #000000;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
}

.feature-para {
    font-size: 18px;
    color: #636C79;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.feature-button {
    width: 150px;
}

.feature-contents img {
    width: 30rem;
    height: 30rem;
}


/* Team Section */

.teams {
    margin: 150px auto 0px auto;
    width: 85%;
}

.teams-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams-content h1 {
    font-size: 35px;
    color: #000000;
    line-height: 45px;
    width: 17rem;
    font-weight: 600;
}

.teams-content p {
    font-size: 18px;
    color: #636C79;
    width: 28rem;
    font-weight: 500;
    line-height: 32px;
}

.team-members-details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.team-members {
    width: 19rem;
}

.team-members img {
    width: 100%;
    height: 22rem;
}

.team-members h1 {
    margin-top: 15px;
    font-size: 19px;
    font-weight: 600;
    color: #000000;
}

.team-members p {
    margin-top: 15px;
    font-size: 15px;
    color: #636C79;
    font-weight: 400;
    line-height: 23px;
}

.team-button {
    width: 170px;
    height: 50px;
    display: block;
    margin: 50px auto 0px auto;
}


/* Footer Section */

footer {
    margin-top: 100px;
    background-color: #10181D;
    padding: 50px 7.5% 70px 7.5%;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.nav-bottom>img {
    width: 110px;
    height: 40px;
    cursor: pointer;
}

.social-media-image {
    width: 45px;
    margin-right: 7px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #42464b;
    margin-bottom: 50px;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
}

.footer-content h4 {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-content p {
    color: #616a77;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}


/* Media Queries */

@media screen and (max-width:1150px) {
    .hero {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 60%;
        text-align: center;
        margin: auto;
    }
    .hero>img {
        margin-bottom: 4rem;
        width: 90%;
    }
    .hero-content {
        width: 100%;
    }
    .feature-contents {
        flex-direction: column-reverse;
        margin-bottom: 5rem;
    }
    .features div:nth-child(3) {
        flex-direction: column;
        margin-top: 0;
    }
    .feature-content {
        margin-top: 3rem;
    }
    .teams {
        margin-top: 9rem;
    }
    .team-members-details {
        flex-direction: column;
        align-items: center;
    }
    .team-members {
        width: 21rem;
        margin-bottom: 3rem;
    }
    .team-members p {
        margin-top: 0.4rem;
    }
}

@media screen and (max-width:900px) {
    .header {
        padding-top: 2rem;
    }
    nav {
        width: 90%;
        margin: auto;
    }
    .logo {
        width: 6rem;
        height: 2.1rem;
        margin: 0;
    }
    .list {
        display: none;
    }
    .ham-burger {
        display: block;
    }
    .teams-content {
        flex-direction: column;
        text-align: center;
    }
    .teams-content h1 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .teams-content p {
        width: 100%;
    }
    .team-button {
        margin-top: 0;
    }
    .nav-bottom>img {
        width: 6rem;
        height: 2.1rem;
    }
    footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width:650px) {
    .hero {
        width: 70%;
    }
    .hero>img {
        margin-bottom: 2rem;
        height: 22rem;
    }
    .hero-content h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .hero-content p {
        font-size: 15px;
        line-height: 26px;
    }
    .email-container img {
        width: 2rem;
    }
    #email {
        font-size: 13px;
    }
    .btn {
        width: 200px;
        height: 40px;
        font-size: 15px;
    }
    .statistics h1 {
        font-size: 30px;
    }
    .statistics p {
        font-size: 15px;
    }
    .statistics-data {
        flex-direction: column;
    }
    .features-heading {
        line-height: 1.4;
        font-size: 34px;
    }
    .feature-contents {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-content {
        height: 22rem;
        width: 100%;
        margin-top: 1.5rem;
    }
    .feature-contents img {
        width: 100%;
        height: 24rem;
    }
    .feature-heading {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 0.4rem;
    }
    .feature-para {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 2rem;
    }
    .feature-button {
        width: 8rem;
        height: 2.5rem;
    }
    .teams {
        margin-top: 5rem;
    }
    .team-button {
        width: 9rem;
        height: 2.5rem;
    }
    .footer-contents {
        flex-wrap: wrap;
    }
    .footer-content {
        width: 50%;
        margin-top: 1rem;
    }
}

@media screen and (max-width:510px) {
    .hero {
        width: 80%;
    }
    .hero-content h1 {
        font-size: 32px;
        line-height: 43px;
    }
    .hero-content p {
        font-size: 13px;
        line-height: 23px;
    }
    .email-container {
        background-color: transparent;
        flex-direction: column;
    }
    .email-container img {
        margin: 0 1rem;
    }
    .input-field {
        background-color: #ffffff;
        height: 2.8rem;
    }
    .btn {
        width: 6rem;
        height: 2.5rem;
        margin-top: 1rem;
    }
    .statistics h1 {
        font-size: 25px;
        line-height: 1.4;
    }
    .feature-contents img {
        height: 19rem;
    }
    .hero>img {
        width: 100%;
        height: 19rem;
    }
    .nav-bottom {
        flex-direction: column;
    }
    .nav-bottom>img {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:400px) {
    .hero-content h1 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 1rem;
    }
    .hero-content p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 1.2rem;
    }
    .email-container img {
        width: 1.7rem;
    }
    .email-container input {
        font-size: 12px;
    }
    .btn {
        width: 5.5rem;
        height: 2.3rem;
        font-size: 13px;
    }
    .statistics h1 {
        font-size: 22px;
        line-height: 1.4;
    }
    .statistics p {
        font-size: 13px;
        margin-bottom: 40px;
    }
    .feature-contents {
        margin-bottom: 0;
    }
    .features-heading {
        font-size: 28px;
    }
    .feature-contents img {
        height: 16rem;
    }
    .feature-heading {
        font-size: 24px;
        line-height: 34px;
    }
    .feature-para {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 1.3rem;
    }
    .teams {
        margin-top: 3.5rem;
    }
    .team-members {
        width: 100%;
    }
    .teams-content h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .teams-content p {
        font-size: 13px;
        line-height: 25px;
    }
}

@media screen and (max-width:300px) {
    .hero>img {
        height: 15rem;
    }
    .email-container img {
        margin: 0 0.2rem;
    }
    .feature-contents img {
        height: 13rem;
    }
    .team-members img {
        height: 15rem;
    }
    .social-media-image {
        display: block;
        margin-bottom: 1rem;
    }
    .footer-content {
        width: 100%;
    }
}